/* =========================================================================== */
@media (max-width: 1024px) {
   .header__logo {
      height: 20px;
   }
   .about {
      padding: 115px 20px;
      /* flex-direction: row; */
   }

   .about h1 {
      font-size: 36px;
      line-height: 40px;
   }
   .about__image {
      width: 280px;
   }
   .about__sun-image {
      width: 75px;
      height: 75px;
   }
   .footer__container {
      margin-left: 20px;
      font-size: 16px;
   }
   
} 
/* -------------------------------- */
@media (max-width: 719px) {
   header {
      padding: 10px;
   }
   header a {
      margin-right: 10px;
   }
   footer, .form, .about {
      padding: 50px 10px;
   }
   .about {
      flex-direction: column-reverse;
   }
   .about h1 {
      font-size: 36px;
      line-height: 40px;
   }
   .about__info {
      max-width: 500px;
   }
   .about__image {
      width: 280px;
   }
   .about__sun-image {
      width: 75px;
      height: 75px;
   }
   .features {
      padding: 50px 10px;
   }
   .features__feedback-left p {
      margin-bottom: 15px;
   }
   .cards {
      grid-template-columns: auto;
   }
   .features__feedback {
      flex-direction: column;
   }
   .features__feedback-left {
      margin-right: 0px;
   }
   .features__feedback-left h2 {
      font-size: 36px;
      margin-bottom: 20px;
   }
   .features__feedback-right {
      flex-direction: column;
      align-items: flex-start;
   }
   .features__box h3{
      font-size: 36px;
   }
   .features__savings-box {
      margin-bottom: 30px;
      margin-right: 0;
   }
   /* ===================================================== */
   .promo__image {
      width: 100%;
      height: 500px;
   }
   .promo {
      flex-direction: column-reverse;
   }
   .promo__right {
      padding: 50px 10px;
   }
   .promo__title {
      font-size: 22px;
   }
   p {
      font-size: 16px;
   }
   .promo__card p::before {
      width: 15px;   
      height: 15px;
   }
   /* ========================================================== */
   .form h1 {
      font-size: 36px;
   }
   /* =========================================================== */
   .footer__container {
      flex-direction: column;
   }
} 
/* ------------------ */