/* =========================================================================== */
@media (max-width: 1024px) {
   .header__logo {
      height: 20px;
   }
   .about {
      padding: 115px 20px;
      /* flex-direction: row; */
   }

   .about h1 {
      font-size: 36px;
      line-height: 40px;
   }
   .about__image {
      width: 280px;
   }
   .about__sun-image {
      width: 75px;
      height: 75px;
   }
   .footer__container {
      margin-left: 20px;
      font-size: 16px;
   }
   
} 
/* -------------------------------- */
@media (max-width: 719px) {
   header {
      padding: 10px;
   }
   header a {
      margin-right: 10px;
   }
   footer, .form, .about {
      padding: 50px 10px;
   }
   .about {
      flex-direction: column-reverse;
   }
   .about h1 {
      font-size: 36px;
      line-height: 40px;
   }
   .about__info {
      max-width: 500px;
   }
   .about__image {
      width: 280px;
   }
   .about__sun-image {
      width: 75px;
      height: 75px;
   }
   .form h1 {
      font-size: 36px;
   }
   .footer__container {
      flex-direction: column;
   }
} 
/* ------------------ */